export(extract.contig.data,add.gc,prep.for.rng,make.rng.from.2d.binning.space,extract.all.neighbourhoods,summarise.neighbourhoods)
import(utils)
importFrom(stats,sd)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,oligonucleotideFrequency)
importFrom(igraph,graph_from_adj_list)
importFrom(igraph,simplify)
importFrom(igraph,ego)
importFrom(spatstat,ppp)
importFrom(spatstat,owin)
importFrom(spatgraphs,spatgraph)
